<!DOCTYPE html>
<html>
<head>
	<title>Simple Todo List</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div id="todo-list">
		
		<h1 id="title">My Todo List</h1>

		<div id="todo-count">
			<!-- the count should be placed here -->
			<p v-if="todos.length==0"> my list is currently <font color="red">empty</font> </p>
			<p v-else-if="todos.length==1"> There is only <font color="red">{{ todos.length }}</font> item in my list </p>
			<p v-else> There are <font color="red">{{ todos.length }}</font> items in my list </p>
		</div>

		<ul id="list-elem">
			<!-- the todo items should be placed here -->
			<li id="todo-item" v-for="todo in todos"> {{ todo.text }} </li>
		</ul>

		<!-- the submit event will no longer reload the page -->
		<form id="add-todo" v-on:submit.prevent="add">
			<input id="add-todo-input" v-model="newTodoText" type="text" placeholder="what will i do?">
			<button id="add-todo-button">Add</button>
		</form>

	</div>

	<!-- vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- my script -->
	<script type="text/javascript" src="script.js"></script>

</body>
</html>